<div class="contaner" style="height: 700px;">
  <div class="row text-center">
    <div class="col mx-auto mt-4 mb-4">
      <h1 class="display-2"><strong>Home</strong></h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col mx-auto">
      <h4 class="lo">
        DEVELOPはエンジニアのための情報交換サイトです。<br><br>
      勉強始めたての初心者から、<br><br>
      すでに社会で働かれてる上級者の方まで！<br><br>
      仕事のことや、日々何気ないことなど！<br><br>
      色々なことを投稿してみましょう！
      </h4>
    </div>
  </div>
</div>