<div class="row">
  <div class="col-3">
    <p>aaaaaaaa</p>
  </div>
  <div class="col-9">
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavvaaaaaaaaaa</p>
    <div class="nested col-9">
      <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      <div class="col-12">
        <p>
          お願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いしますお願いします
        </p>
      </div>
      <div class="col-6">
        <p>
          ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。ありがとうございます。
        </p>
      </div>
    </div>
  </div>
  
</div>
  