<table class='table'>
  <% posts.each do |post| %>
    <div>
      <tr>
        <td><%= link_to user_path(post.user) do %>
          <%= attachment_image_tag(post.user, :profile_image, :fill, 80, 80, fallback: "no-image-icon.jpg") %>
        <% end %>
        </td>
        <td><%= @user.name %></td>
        <td><%= link_to post.body,post_path(post.id) %></td>
      </tr>
    </div>

  <% end %>
</table>